{% extends 'restaurent_admin/base.html' %}
{% load static %}
{% block content %}
<div>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>swal("FoodMenu!", "{{message}}", "{{message.tags}}");</script>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<!-- <div class="page-wrapper wrapper_page ">
    <div class="page-breadcrumb container-fluid responsive_container" style="background-color: #d6dee6;">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-4 col-sm-4 col-xs-12 mb-3">
                <h4 class="page-title title_page">Dashboard</h4>
            </div>
        </div>
        <div class="dashboardBox">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <a href="" class="col-lg-4 round_box col-md-12 col-sm-12" style="text-decoration: none; ">
                        <div class="white-box analytics-info box_white counter" style="background-color:#f8f9fa; border-left: 4px solid #22c1f8;">
                            <h3 style="text-align: center; color: #22c1f8;"><b>Total Categories</b></h3>
                            <p style="text-align: center; font-size: 35px; color: #22c1f8;" class="fw-bold">{{category}}
                            </p>
                            
                        </div>
                    </a>
                    <a href="" class="col-lg-4 round_box col-md-12 col-sm-12" style="text-decoration: none;" >
                        <div class="white-box analytics-info box_white counter" style="background-color: #f8f9fa;border-left: 4px solid #fa8783;">
                            <h3 style="text-align: center; color: #fa8783;"><b>Total Items</b></h3>
                            <p style="text-align: center; font-size: 35px; color: #fa8783;" class="fw-bold">{{item}}</p>
                            
                        </div>
                    </a>
                    <a href="" class="col-lg-4 round_box col-md-12 col-sm-12" style="text-decoration: none;" >
                        <div class="white-box analytics-info box_white counter" style="background-color: #f8f9fa;border-left: 4px solid #febd56;">
                            <h3 style="text-align: center; color: #febd56;"><b>All Notifications</b></h3>
                            <p style="text-align: center; font-size: 35px; color: #febd56;" class="fw-bold">{{noti}}</p>
                           
                        </div>
                    </a>
                </div>
             
            </div>

        </div>

    </div>
</div> -->

<section style="background-color: #eee; margin-top: 91px;">
    <div class="page-wrapper">
        <div class="page-breadcrumb container-fluid responsive_container">
            <div class="row align-items-center shadowTotal">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="text-center visit">
                                <h4>6</h4>
                                <p>Total Visits</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-center visit">
                                <h4>142</h4>
                                <p>Total Food Items</p>
                            </div>
                        </div>
                        <div class="col-lg-4 pe-0">
                            <div class="text-center">
                                <h4>142</h4>
                                <p>Total Category</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-center visit">
                                <h4><span class="disc2">free</span></h4>
                                <p>Current Plan</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <h4>-</h4>
                                <p>Plan Expiration</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class=" visit2">
                        <p>Plus Member</p>
                        <h4>$49.99 <span class="disc">-10% Discount</span></h4>
                        <p>per user/month, billed annually</p>
                        <button type="button" class="upgrade">Upgrade to plus</button>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <h5>Category</h5>
                <div class="row">
                    <div class="col-md-3 p-0 addNew">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#popup1">
                            <div class="foodimg">
                                <div class="foodimg2 ">
                                    <div class="vector">
                                        <img src="{% static 'images\food1.png' %}" alt="">
                                        <img class="img-top" src="{% static 'images\vector2.png' %}" alt="">
                                    </div>
                                </div>
                                <p>Add New</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <input type="checkbox" class="checkfood">
                                <img src="{% static 'images\food2.png' %}" alt="">
                            </div>
                            <p>Lunch</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food3.png' %}" alt="">
                            </div>
                            <p>Breakfast</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food4.png' %}" alt="">
                            </div>
                            <p>Dinner</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food5.png' %}" alt="">
                            </div>
                            <p>Dinner</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food6.png' %}" alt="">
                            </div>
                            <p>Breakfast</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food7.png' %}" alt="">
                            </div>
                            <p>Breakfast</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food8.png' %}" alt="">
                            </div>
                            <p>Dessert</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food9.png' %}" alt="">
                            </div>
                            <p>Dessert</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0 addNew">
                        <div class="foodimg">
                            <div class="foodimg2">
                                <img src="{% static 'images\food10.png' %}" alt="">
                            </div>
                            <p>Dessert</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="modal fade" id="popup1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center ">
                <div class="d-flex justify-content-between p-3">
                    <h6>New Category</h6>
                    <p><i class="fi fi-rr-square-x" data-bs-dismiss="modal" aria-label="Close"></i></p>
                </div>
                <div class="py-4" data-bs-toggle="modal" data-bs-target="#popup2">
                    <img src="{% static 'images\food1.png' %}" alt="">
                </div>
                <p class="addDefault">Add Default Category Image</p>
                <form>
                    <input class="addcatname" type="text" placeholder="Type Category Name here...">
                </form>
                <button type="submit" class="upgrade2">Submit</button>
                <div class="blankspace"></div>
            </div>
        </div>
    </div>
</section>


<section>
    <div id="windowPop" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center pt-5">
                    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
                        <div class="createdbox">
                            <p><i class="fi fi-rr-square-x" data-bs-dismiss="modal" aria-label="Close"></i></p>
                            <img src="{% static 'images\check.jpg' %}" alt="">
                            <p>Category has been created</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="modal fade " id="popup3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center ">
                <div class="d-flex justify-content-between p-3">
                    <h6>New Category</h6>
                    <p><i class="fi fi-rr-square-x" data-bs-dismiss="modal" aria-label="Close"></i></p>
                </div>
                <div class="py-4">
                    <img src="{% static 'images\food3.png' %}" alt="">
                </div>
                <p class="addDefault">Add Default Category Image</p>
                <form>
                    <input class="addcatname" type="text" placeholder="Type Category Name here...">
                </form>
                <button type="submit" class="upgrade2">Submit</button>
                <div class="blankspace"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="modal fade" id="popup2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content text-center">
                <div class="d-flex justify-content-between p-3">
                    <h6>Select an image for your category </h6>
                    <p><i class="fi fi-rr-square-x" data-bs-dismiss="modal" aria-label="Close"></i></p>
                </div>
                <div class="row fooditem " style="--bs-gutter-x: 0;">
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food2.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup4" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food3.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food4.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food5.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food6.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food7.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food8.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food9.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food10.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food2.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food3.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food4.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food5.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food6.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food7.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food8.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food9.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food10.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food2.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food3.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food4.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food5.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food6.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food7.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food8.png' %}" alt="">
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#popup1" class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food9.png' %}" alt="">
                        </div>
                    </div>
                    <data-bs-toggle="modal" data-bs-target="#popup1" div class="col-md-3 p-0 addNew">
                        <div class="food-img">
                            <img src="{% static 'images\food10.png' %}" alt="">
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script>
    $(document).ready(function(){       
    $('#windowPop').modal('show');
}); 
$('.close').click(function(){

 $("#windowPop").modal('toggle');
})

</script>

{% endblock %}