{% extends 'restaurent_admin/base.html' %}
{% load static %}


{% block content %}

<div class="page-wrapper main-page" >
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="container-fluid fluid_container responsive_container ps-0 pe-4">

        <div>
            <h4 class="mb-4 ms-2">Order</h4>
        </div>
        <div class="row boxsize">
            {% for order in order %}
            <div class="col-lg-4">
                <div class="orderdetails p-3">
                    <div>
                        <div class="d-flex justify-content-between">
                            {% for name in order.alluser.all %}
                            <h6><b>{{name.name}}</b></h6>
                            {% endfor %}
                            <span class="m-0"><h6><b>Order no #{{order.id}}</b></h6></span>

                        </div>
                        <div class="d-flex justify-content-between">
                            <p>{{order.created_at}}</p>
                            <h6 class="totalsize">Total items: {{order.quantity}}</h6>
                            {% if order.newrating %}
                            <!-- <span>{{order.newrating}}</span> -->
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="orderover">
                        <div class="orderover1">
                            {% for order2 in order.allorders.all %}
                            <div class="row">
                                <div class="col-5">
                                    <div>
                                        {% if order2.food_id.food_image %}
                                        <img src="{{order2.food_id.food_image.url}}" alt="">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-7 ps-0">
                                    <h5>{{order2.food_id.food_name}}</h5>
                                    <div class="expandable-content">
                                        <div class="content">
                                            <p class="mb-0">{{order2.food_id.description}}</p>
                                        </div>
                                        {% if order2.food_id.description %}
                                        <div class="toggle-button">
                                          <button class="show-more">More</button>
                                          <button class="show-less">Less</button>
                                        </div>
                                        {% endif %}
                                      </div>
                                      
                                   
                                    <div class="d-flex justify-content-between">
                                        <div class="quantity1">
                                            <h5>${{order2.food_id.price|floatformat:2}}</h5>
                                            <div class="dropdown">
                                                {% if order2.abc.all %}
                                                <a class=" quantity1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Add-ons
                                                </a>
                                                <ul class="dropdown-menu p-0">
                                                    {% for  order3 in order2.abc.all %}
                                                  <li><button class="dropdown-item" type="button">{{order3.addonce_id.name}}: <span style="float: right;">{{order3.addonce_id.price|floatformat:2}}</span></button></li>
                                                  {% endfor %}
                                                </ul>
                                                {% endif %}

                                              </div>
                                        </div>
                                        <div class="quantity1">
                                            <h5>Qty:{{order2.quantity}}</h5>
                                            <a>{{order2.spicelevel}} </a>
                                        </div>

                                    </div>
                                    <div id="order"></div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div id="topborder"></div>
                    <div class="d-flex justify-content-between">
                        {% if order.status == 'Pending' %}
                        <button type="button" class="sendorderbtn" onclick="return sendorder('{{order.id}}')" >Send Order</button>
                        {% else %}
                        <button type="button" class="completesendorderbtn" disabled >Send Order</button>
                        {% endif %}
                        <h5 class="totalprice"><b>Total price: ${{order.totalprice|floatformat:2}}</b></h5>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>




    </div>
</div>

<script>
    function sendorder(id){
        $.ajax({
        type: "POST",
        url: "/complete-order/",
        data: {
          id: id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            alert('Order Sent Successfully!')
            location.reload();
            
        }
      });
    }

</script>
<script>
    $(document).ready(function() {
  $(".show-more").click(function() {
    var content = $(this).closest(".expandable-content").find(".content");
    content.css("max-height", "none");
    $(this).css("display", "none");
    $(this).siblings(".show-less").css("display", "block");
  });

  $(".show-less").click(function() {
    var content = $(this).closest(".expandable-content").find(".content");
    content.css("max-height", "20px"); /* Set the maximum height when less is shown */
    $(this).css("display", "none");
    $(this).siblings(".show-more").css("display", "block");
  });
});

</script>
{% endblock %}

