<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Food Menu</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="{% static 'admin/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<style>
    body{
        background-color: lightgrey;
    }
    table tbody td {
        color: black;

    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: red;
        color: white;

    }
</style>

<body>
    <nav class="bg-light" style="height: 100px;">
        <div>
            <img src="{{idd.restaurant_logo.url}}"style="height: 1in; width: 3cm;">
        </div>
        <div class="text-center" style="margin-top: -75px;"><h1><b>Food Menu</b></h1></div>
        

    </nav>
   
    {% if category %}
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:170px; height: 75%;">
        <h5 class="w3-bar-item">Food Category</h5>

        {% for food in category %}
        <button class="w3-bar-item w3-button tablink " onclick="openCity(event, '{{food.category_name}}')">{{food.category_name}}</button>
        {% endfor %}
    </div>
    <div style="margin-left:185px">
        <div class="w3-padding"><h3>Food Items</h3></div>
        
        {% for food in category %}
        <div id="{{food.category_name}}" class="w3-container city" style="display:none">
            <table class="table table-bordered border-primary table-hover table-warning" style="height: 400px;">

                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Full</th>
                        <th>Medium</th>
                        <th>Small</th>
                        <th>Food Image</th>
                    </tr>
                    </a>
                </thead>
    
                <tbody>
                    {% for food_item in food.cat.all %}
                    <tr>
                        <td>{{food_item.food_name}}</td>
                        <td>
                            {% if food_item.full_price %}
                            {{food_item.full_price}}</td>
                            {% else %}
                            <h4>-</h4>
                            {% endif %}
                        <td>
                            {% if food_item.medium_price %}
                            {{food_item.medium_price}}
                            {% else %}
                            <h4>-</h4>
                            {% endif %}
                        </td>
                        <td>
                            {% if food_item.small_price %}
                            {{food_item.small_price}}
                            {% else %}
                            <h4>-</h4>
                            {% endif %}
                        </td>
                        <td>{% if food_item.food_image %}
                            <img src="{{ food_item.food_image.url }}" alt="Image Here" style="height: .6in; width: 2.5cm;">
                            {% else %}
                            <h3>No Image</h3>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    
            </table>
        </div>
        {% endfor %}
      </div>
    {% else %}
    <h1>No Data</h1>
    {% endif %}
    
    <footer>
        <h3>Restaurant Name:&nbsp;{{idd.restaurant_name}}</h3>
        <h3>Address:&nbsp;{{idd.restaurant_address}}</h3>
    </footer>
    <!-- <script>
        function myFunction(food) {
            var id = food;
            // alert(id);

            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script> -->
    <!-- <script>
        var element = document.getElementById(id);

        // To hide the element
        element.style.display = "none";

        // To show the element
        element.style.display = "block";
    </script> -->

    <script>
        function openCity(evt, foodname) {
          var i, x, tablinks;
          x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", ""); 
          }
          document.getElementById(foodname).style.display = "block";
          evt.currentTarget.className += " w3-red";
        }
    </script>


    <script src="{% static 'admin/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'admin/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin/js/app-style-switcher.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'admin/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'admin/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'admin/js/custom.js' %}"></script>
    <script src="{% static 'admin/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>



</body>
<script>
    $(document).ready(function () {
        $(".onclickmenu").click(function () {
            $(".clickShowmenu").toggle();
        });
    });
</script>

</html>