{% load static %}
<aside class="left-sidebar left_aside sidebarfixed" data-sidebarbg="skin6" >
    <!-- Sidebar scroll-->
    
    <div class="scroll-sidebar">
        <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="nav_bar_side">
                <!-- User Profile-->
                <li class="sidebar-item mt-3">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar square"
                        href="{% url 'user-dashboard' %}" aria-expanded="false">
                        <div class="dashicon">
                            <img src="{% static 'images\dash1.png' %}">
                        </div>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                 <li class="sidebar-item onclickmenu commomShow">
                    <a href="{% url 'show-all-item'  %}" class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" aria-expanded="false">
                        <div class="dashicon">
                            <img src="{% static 'images\dash2.png' %}">
                        </div>
                        <span class="hide-menu">Menu</span>
                    </a>
                </li>
                
                <li class="sidebar-item onclickmenu5 commomShow">
                    <a href="{% url 'receive-notification' %}" class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" 
                        aria-expanded="false">
                        <div class="dashicon">
                            <img src="{% static 'images\dash3.png' %}">
                        </div>
                        <span class="hide-menu">Order History</span>
                    </a>
                </li>

                <li class="sidebar-item onclickmenu6 commomShow">
                    <a href="#" class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" aria-expanded="false">
                        <div class="dashicon">
                            <img src="{% static 'images\dash4.png' %}">
                        </div>
                        <span class="hide-menu">Settings</span>
                    </a>
                    <i class="fas fa-angle-down"></i>
                     <ul class="clickShowmenu6 commom ">
                        <li><a href="{% url 'restaurant-details' %}" class="text-decoration-none" ><i class="fas fa-user leftside_icon"></i>&nbsp; Profile</a></li>
                        <li><a href="{% url 'change-user-password' %}" class="text-decoration-none" ><i class="fas fa-key leftside_icon"></i>&nbsp; Change Password</a></li>
                    </ul>
                </li>
               
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="term-condition.html"
                        aria-expanded="false">
                        <i class="fas fa-certificate leftside_icon" aria-hidden="true"></i>
                        <span class="hide-menu">Terms & Conditions</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="privacy-policy.html"
                        aria-expanded="false">
                        <i class="fas fa-file-alt leftside_icon"></i>
                        <span class="hide-menu">Privacy & Policy</span>
                    </a>
                </li> -->
                <!-- <li class="sidebar-item onclickmenu6 commomShow">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" aria-expanded="false">
                        <i class="fas fa-bell leftside_icon"></i>
                        <span class="hide-menu">Setting</span>
                    </a>
                    <ul class="clickShowmenu6 commom ">
                        <li><a href="">Edit Profile</a></li>
                        <li><a href="{% url 'change-password' %}">Change Password</a></li>
                        

                    </ul>
                </li> -->
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href=""
                        aria-expanded="false">
                        <i class="fas fa-power-off leftside_icon"></i>
                        <span class="hide-menu">Log Out</span>
                    </a>
                </li> -->
                
            </ul>
            <hr class="bottomhr">
            <div class="qrcodeimg">
                <img src="{{qrimagecode.qr_code.url}}" alt="">
                <form action="{% url 'generate-pdf' %}" method="get">
                    <button class="qrbtn">Download QR Code</button><br>
                </form>
                <a href="{% url 'mobile_home' qrimagecode.id %}" target="_blank"><i class="fi fi-rr-link-horizontal"></i> <span style="
                    font-size: 14px;
                ">http://69.49.235.253:8026/mobile-home/{{qrimagecode.id}}</span></a>
            </div>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>




