{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMenu</title>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}" > {% endcomment %}

</head>

<style>
  body{
    background: lightgray;
  }
.about-section {
  text-align: center;
  margin: 40px 0;
}

.about-section img {
 width:30%;  
}

.privacy-policy {
  padding: 0 20px;
}

.privacy-policy h2 {
  font-size:25px;
  color: #0ea8ad;
}

.privacy-policy p {
 font-size:18px; 
}

</style>


<body>
  {% for data in data %}
  <div class="about-section">
    <img src="{{data.img.url}}"   class="responsive" />
    </div>

    <div class="privacy-policy">
     <h2>Privacy Policy</h2>
      <p>{{ data.description|safe}}</p>
      
        </div>
        {% endfor %}
</body>
</html>