{% extends 'mobile_view/base.html' %}
{% load static %}
{% block content %}
    <main class="mobMain">
        <div class="container">
            <div class="mainheading">
                <span>Categories</span>
                <span><i class="fi fi-rr-angle-right px-2"></i></span>
                <span class="list3">Lunch</span>
            </div>
            <div class="row">
                {% for data in data %}
                <div class="col-sm-6">
                    <a href="#">
                        <div class="fooditem1">
                            <div class="fooditemimg">
                                {% if data.food_image %}
                                <img src="{{data.food_image.url}}" class="fooditemimage">
                                {% else %}
                                <img src="{%  static 'images/no-image-icon-23483.png' %}">
                                {% endif %}
                            </div>
                            <div class="p-2 text-start ms-3">
                                <p>{{data.food_name}}</p>
                                <h5>${{data.price}}</h5>
                            </div>
                            <div>
                                <a href="{% url 'mob_Item_details' data.id %}" type="button" class="addbtn">Add to Card</a>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% endblock %}