{% extends 'mobile_view/base.html' %}
{% load static %}
{% block content %}
<main class="mobMain">
    <div class="container">
        <h5>Categories</h5>
        <div class="row">
            {% for data in data %}
            <div class="col-sm-6">
                <div class="fooditem">
                    <a href="{% url 'mobile_items' data.id %}">
                        <div class="fooditemimg">
                            {% if data.category_image %}
                            <img src="{{data.category_image.url}}">
                            {% else %}
                            <img src="{%  static 'images/no-image-icon-23483.png' %}">
                            {% endif %}
                        </div>
                        <h6>{{data.category_name}}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}