{% load static %}
<footer>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="shop">
                        <div>
                            <img src="{% static 'images/DineQR R-01 1.png' %}">
                        </div>
                        <a href="{% url 'AddToCartView' user.id %}"><div>
                            <img src="{% static 'images/shop.png' %}" alt="">
                            <span class="badge1">{{addtocart}}</span>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>