{% include 'admin/header.html' %}
{% include 'admin/sidebar.html' %}

        modified:   templates/admin/add_notifications.html
        modified:   templates/admin/dashboard.html
        modified:   templates/admin/payment.html
        modified:   templates/admin/show_notification.html
        modified:   templates/admin/subscription_details/add_subscription_details.html
        modified:   templates/admin/subscription_details/show_subscription_details.html
{% block content  %}
{% endblock %} 



{% include 'admin/footer.html' %}